.productCard {
  width: 300px;
  height: 300px;
  border: 2px solid red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgCard {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
